:root {
  --boxBorder: #BB7D44;
}

body{


}

td{
  padding-top: 20px;
  padding-left: 10px;
}
td:hover{
  color: grey;
  font-style: italic;
  font-size: 25px;
}

td:active{
  color: brown;
}
body{
    font-family: 'Archivo', sans-serif;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


#title{
  font-family: 'Archivo', sans-serif;
  font-size: 70px;
  color: white;
  width: 760px;
  margin-right: auto;
  margin-left: auto;
}

.aphabet{
  width: 800px;
  height: 400px;
  font-size: 56px;
  background-color: #BC8451;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  border: 10px solid;
  border-color: #754C24;
}
#test{
  padding-top: 40px;
}

.container{

  width: auto;
  height: 1850px;
}

.boxContainer{
  width: 830px;
  height: 500px;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.boxContainer2{
  width: 900px;
  height: 500px;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.box1{
  padding: 10px;
  width: 380px;
  height: 380px;
  background-color: #BC8451;
  float: left;

}
.box2{
  margin-left: 30px;
  padding: 10px;
  width: 380px;
  height: 380px;
  background-color: #E18847;
  float: left;
}


.boxline{
  width: 400px;
  height: 200px;
  margin: 25px;
  background-color: #e0c3b1;
  float: left;
  font-size: 22px;
}

#line1{
     font-weight: bold;
}

#line2{
      font-weight: lighter;
}

#line3{
      font-weight: 300;
}

#line4{
      font-weight: 400;
}

#line5{
      font-weight: 500;
}

#line6{
      font-weight: 600;
}

#line7{
      font-size: 21px;
      font-weight: 800;
}

#line8{
      font-weight: 900;
}
@media screen and (max-width:720px){
    .container{
        height: 3300px;
    }

    .boxContainer{
      width: 400px;
    }
    .boxContainer2{
      width: 400px;
    }
    #title{
      font-size: 40px;
    }
}
